html {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, p, a {
    padding: 0;
    margin: 0;
}
span {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.23;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2;
    background: linear-gradient(to left, #050306 0%, black 100%);
    /* background-image: url(/img/background.jpg);
    background-position: center; */
    width: 100%;
    height: 100vh;
    /* background-size: cover; */
    color: #ECF1F0;
    animation: animateBg 10s linear infinite;
}
@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
    }
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header========================================================= */
.header {
    padding: 20px 0 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    /* backdrop-filter: blur(100px); */
    background: linear-gradient(to left, #050306 0%, black 100%);
}
/* nav=============================== */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* nav__logo========== */
.nav__logo {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}
.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}
.logo h1 {
    font-size: 24px;
    line-height: 1.21;
}
.logo__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.21;
}
/* nav__inner========== */
.nav__inner {
    display: flex;
    align-items: center;
    gap: 64px;
}
.nav__list {
    display: flex;
    align-items: center;
    gap: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.25;
}
.nav__link {
    height: 21px;
    transition: .3s ease-in-out;
}
.nav__link:hover {
    color: #0FAE96;
}
.nav__link:active {
    color: #027463;
}
.nav__link--active {
    color: #0FAE96;
}
.select__list {
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2;
    color: #ECF1F0;
    border: none;
    cursor: pointer;
}
.select__option {
    background-color: #050306;
}
.social__list {
    display: flex;
    gap: 20px;
}
.social__item {
    height: 24px;
}
.social__link {
    color: #ECF1F0;
    transition: .3s ease-in-out;
}
.social__link:hover {
    color: #0FAE96;
}
.social__link:active {
    color: #027463;
}


/* main=========================================================== */
.main {
    flex-grow: 1;
    background-image: url(/img/background.jpg);
    background-position: center;
}
/* content-first======== */
.content-first {
    display: flex;
    gap: 67px;
    padding-top: 144px;
    margin-bottom: 160px;
}
.text__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.21;
    margin-bottom: 32px;
}
.text__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.21;
    color: #D4D4D4;
    margin-bottom: 32px;
}
.text__link {
    font-weight: 400;
    line-height: 1.24;
    max-width: 168px;
    background-color: #0FAE96;
    padding: 12px 37px;
    border-radius: 5px;
    transition: .3s ease-in-out;
    color: #ECF1F0;
}
.text__link:hover {
    background-color: #058F7B;
    color: #F9F9F9;
}
.text__link:active {
    background-color: #027463;
    color: #DFDFDF;
}
/* content-second========= */
.content-second {
    display: flex;
    gap: 64px;
    margin-bottom: 187px;
}
.swiper {
    max-width: 683px;
}
.swiper-pagination-bullet {
    width: 121px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    margin: 0 18px !important;
}
.swiper-pagination-bullet-active {
    background-color: #0FAE96;
}
/* content-tools========== */
.content-tools {
    text-align: center;
    align-items: center;
}
.tools__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.21;
    margin-bottom: 32px;
}
.tools__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.21;
    max-width: 762px;
    margin: 0 auto;
    margin-bottom: 64px;
}
.tools__list {
    display: flex;
    justify-content: center;
    gap: 65px;
    margin-bottom: 160px;
}
/* content-about=========== */
.content-about {
    text-align: center;
    align-items: center;
}
.about__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.21;
    margin-bottom: 32px;
}
.about__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.21;
    max-width: 689px;
    margin: 0 auto;
    margin-bottom: 64px;
}
.about__list {
    display: flex;
    justify-content: center;
    gap: 32px;
}
.about__item {
    padding: 42px 48px;
    min-width: 412px;
    max-width: 412px;
    width: 100%;
    height: 260px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    cursor: pointer;
    transition: .5s ease-in-out;
    margin-bottom: 160px;
}
.about__item:hover {
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
}
.about__icon {
    background: rgba(255, 255, 255, 0.05);
    padding: 25px;
    border-radius: 25px;
    margin-bottom: 16px;
    transition: .3s ease-in-out;
}
.about__icon:hover {
    background: transparent;
    padding: 27px;
}
.about__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.21;
    color: #ECF1F0;
}
/* content-contact */
.content-contact {
    text-align: center;
    color: #ECF1F0;
}
.contact__title {
    max-width: 660px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;
    color: #ECF1F0;
    margin-bottom: 48px;
}
.contact__form {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.05);
    border: 0.5px solid;
    border-image-source: linear-gradient(109.41deg, #0FAE96 0%, rgba(18, 14, 39, 0) 48.96%, #7DCFE9 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    border-radius: 10px;
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    color: #ECF1F0;
}
.contact__data {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 422px;
}
.contact__item {
    font-family: inherit;
    background-color: transparent;
    padding: 12px 14px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    resize: none;
    transition: .2s ease-in-out;
    color: #ECF1F0;
}
.contact__item:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: #F9F9F9;
}
.contact__item:active {
    background: rgba(255, 255, 255, 0.3);
    border: 0.5px solid #027463;
    border-radius: 5px;
    color: #DFDFDF;
}
::placeholder {
    color: #ECF1F0;
    opacity: 1;
}
::-ms-input-placeholder {
    color: #ECF1F0;
}
:-ms-input-placeholder {
    color: #ECF1F0;
}
.check-list-item {
    margin: 0;
    display: block;
    width: 100%;
}
label {
    display: block;
}
.check {
    font-family: inherit;
}
input[type="checkbox"], [type="radio"] {
    display: none;
}
input[type=checkbox]+.check {
    position: relative;
    padding-left: 52px;
    color: #d4d4d4;
    font-size: 14px;
    line-height: 20px;
    display: block;
    cursor: pointer;
    width: 100%;
}
input[type=checkbox]+.check::before {
    content: "";
    background: rgba(255,255,255, 0.05);
    border: 0.5px solid rgba(255,255,255, 0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-transition: 150ms all ease;
    -o-transition: 150ms all ease;
    transition: 150ms all ease;
    box-sizing: border-box;
}
input[type=checkbox]+.check:hover::before {
    background: rgba(255,255,255, 0.1);
    border: 0.5px solid rgba(255,255,255, 0.15);
}
input[type=checkbox]:checked+.check::before {
    background: #0fae96;
    border: 0.5px solid #0fae96;
}
input[type=checkbox]+.check::after {
    content: "";
    background: rgba(255,255,255, 0.1);
    width: 16px;
    height: 16px;
    position: absolute;
    left: 2px;
    top: 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 150ms all ease;
    -o-transition: 150ms all ease;
    transition: 150ms all ease;
    box-sizing: border-box;
}
input[type=checkbox]+.check:hover::after {
    background: rgba(236,241,240, 0.1);
}
input[type=checkbox]:checked+.check::after {
    background: #ecf1f0;
    border-color: #ecf1f0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
.contact__btn {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.24;
    height: 48px;
    background-color: #0FAE96;
    border: none;
    border-radius: 5px;
    transition: .3s ease-in-out;
    cursor: pointer;
    color: #ECF1F0;
}
.contact__btn:hover {
    background-color: #058F7B;
    color: #F9F9F9;
}
.contact__btn:active {
    background-color: #027463;
    color: #DFDFDF;
}
.item__map {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    margin-bottom: 16px;
}
.phone__link {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    color: #D4D4D4;
    transition: .3s ease-in-out;
}
.email__link {
    display: flex;
    gap: 8px;
    margin-bottom: 28px;
    color: #D4D4D4;
    transition: .3s ease-in-out;
}
.phone__link:hover,
.email__link:hover {
    color: #0FAE96;
}
.phone__link:active,
.email__link:active {
    color: #027463;
}

/* footer=================================================================== */
.footer {
    padding: 64px 0;
    backdrop-filter: blur(30px);
}
.footer__text {
    line-height: 1.24;
    text-align: center;
}




/* ===========================catalog_product=============================== */
.catalog-product__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.21;
    color: #ECF1F0;
    margin: 64px 0 32px;
}
.catalog-product__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.21;
    color: #D4D4D4;
    margin-bottom: 32px;
}
.tabs__btn {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}
.tabs__btn-item {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.24;
    padding: 12px;
    background: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    max-width: 170px;
    width: 100%;
    cursor: pointer;
    color: #fff;
}
.tabs__btn-item:hover {
    background-color: #ECF1F0;
    border: 1px solid #ECF1F0;
    border-radius: 5px;
    color: #11011E;
}
.tabs__btn-item--active {
    background-color: #ECF1F0;
    border-radius: 5px;
    color: #11011E;
}
.tabs__content-item {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    max-width: 412px;
    width: 100%;
}
.tabs__content-item.tabs__content-item--active {
    display: grid;
}
.card {
    display: grid;
    gap: 16px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    transition: transform .2s ease;
}
.card:hover {
    transform: translateY(-5px);
}
.card__img {
    max-width: 380px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 7px;
}
.pagination {
    width: 99px;
    height: 3px;
    background-color: #0FAE96;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 7px;
}
.tabs-item__name {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.21;
    color: #ECF1F0;
}
.tabs-item__name:hover {
    color: #0FAE96;
}
.tabs-item__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.24;
    color: #D4D4D4;
}
.tabs-item__more {
    max-width: 50px;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.24;
    color: #D4D4D4;
}
.tabs-item__more:hover {
    opacity: .5;
}


/* ===========================product======================================= */
.product-about {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}
.product-about__main {
    display: flex;
    gap: 64px;
    margin-bottom: 134px;
}
.product-about__cont {
    max-width: 410px;
    width: 100%;
    height: 410px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
.product-about__img {
    max-width: 409px;
    width: 100%;
    height: 409px;
    border-radius: 10px;
}
.product-about__name {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;
    color: #ECF1F0;
    margin-bottom: 32px;
}
.product-about__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.product-about__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.21;
    color: #D4D4D4;
}
.product-about__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 64px;
}
.product-about__another-product {
    display: flex;
    flex-wrap: wrap;
    gap: 65px 64px;
}
.another-product {
    display: flex;
    gap: 24px;
    max-width: 566px;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    backdrop-filter: blur(30px);
}
.about-img {
    padding: 42px 16px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
.about-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 5px;
}
.about-content__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.21;
    color: #ECF1F0;
}
.about-content__info {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2;
    color: #D4D4D4;
}
.about-content__link {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2;
    color: #0FAE96;
    padding: 12px;
    border: 1px solid #0FAE96;
    max-width: 170px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    transition: .3s ease-in-out;
}
.about-content__link:hover {
    background: #058F7B;
    border-radius: 5px;
    color: #F9F9F9;
}
.about-content__link:active {
    background: #027463;
    border-radius: 5px;
    color: #DFDFDF;
}




/* ============================catalog_blog================================= */




/* ============================contacts===================================== */
.contacts-title {
    color: #ECF1F0;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.21;
    margin-bottom: 32px;
    margin-top: 64px;
}
.contacts-whatsapp {
    padding-bottom: 1.5px;
}
.contacts-telegram {
    padding-bottom: .5px;
}
.whatsapp__link {
    color: #0dae96;
}
.telegram__link {
    color: #0dae96;
}
.contacts-email {
    display: flex;
    gap: 5px; 
}
.email__item__link {
    color: #0dae96;
    margin: 0;
}


/* ===============================our_story================================= */
.img-and-title {
    background-image: url(https://trustcrypt.com/wp-content/uploads/2023/02/cyber-security-image-1-1024x576.jpeg);
    position: relative;
    background-size: cover;
    background-position: 50%;
    min-height: 430px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
    margin-top: 64px;
    filter: brightness(0.5);
}
.story-title {
    text-align: center;
    font-size: 36px;
    position: relative;
    top: -235px;
    width: 100%;
    z-index: 1;
    color: #fff;
}
.story-information {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.story-info {
    font-size: 20px;
    line-height: 1.05;
}




